@font-face {
    font-family: 'MINE-SWEEPER';
    src: url('./fonts/MINE-SWEEPER.woff2') format('woff2'),
    url('./fonts/MINE-SWEEPER.woff') format('woff'),
    url('./fonts/MINE-SWEEPER.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}