.Board, .Board-revealed {
    display: grid;
    grid-gap: 2px;
    border: 2px solid black;
    background-color: black;
    border-radius: 0.2rem;
}

.Board-beginner {
    width: 55vh;
    height: 55vh;
}

.Board-intermediate {
    width: 65vh;
    height: 65vh;
}

.Board-expert {
    width: 105vh;
    height: 56vh;
}

.Board-revealed {
    pointer-events: none;
}