.Button {

    padding: 0.5rem;
    white-space: nowrap;
    border-radius: 0.5rem;
    background-color: lightgray;
    font-family: sans-serif;
    font-weight: bold;
}

.Button:hover {
    background-color: darkgray;
    cursor: pointer;
}