.Field {
    padding: 0.5rem;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Field-revealed {
    background-color: lightgray;
}

.Field:hover {
    background-color: lightblue;
    cursor: pointer;
}