@font-face {
    font-family: 'MINE-SWEEPER';
    src: url('./fonts/MINE-SWEEPER.woff2') format('woff2'),
    url('./fonts/MINE-SWEEPER.woff') format('woff'),
    url('./fonts/MINE-SWEEPER.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Field, .Field-revealed, .Field-mine {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MINE-SWEEPER", sans-serif;
    font-size: 130%;
    font-weight: bold;
    line-height: 0;
}

.Board-beginner .Field-mine img {
    width: 3.5vh;
    height: 3.5vh;
}

.Board-intermediate .Field, .Board-intermediate .Field-revealed, .Board-intermediate .Field-mine {
    padding: 0.25rem;
}

.Board-intermediate .Field-revealed {
    font-size: 2vh;
}

.Board-intermediate .Field-mine img {
    width: 2vh;
    height: 2vh;
}

.Board-expert .Field, .Board-expert .Field-revealed, .Board-expert .Field-mine {
    padding: 0.25rem;
}

.Board-expert .Field-revealed {
    font-size: 1.75vh;
}

.Board-expert .Field-mine img {
    width: 1.75vh;
    height: 1.75vh;
}

.Field {
    background-color: #ababab;
}

.Field-revealed {
    background-color: #e7e7e7;
}

.Field-mine {
    background-color: red;
}

.Field-marked {
    background-color: #fd3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Field:hover {
    background-color: #818181;
    cursor: pointer;
}

.Field-marked:hover {
    background-color: #ff6262;
    cursor: pointer;
}

.Field-revealed:hover {
    cursor: default;
}

.Flag {
    margin: auto;
    width: 60%;
    line-height: 0;
}